body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}


img {
    max-width: 100%;
    height: auto;
    display: block;
}


.first, .second {
    display: grid;
    gap: 15px;
    justify-items: center;
}

.more {
    text-align: center;
    font-weight: bold;
    margin: 20px 0; 
}


@media (max-width: 520px) {
    header {
        background-color: blue;
        height: 45px;
        padding: 10px;
    }
    h1 {
        color: white;
        text-align: center;
        font-size: 24px;
    }
    section {
        background-color: white;
        /* padding: 5px; */
    }
    .first, .second {
        grid-template-columns: 1fr; 
        
    }
    .more {
        font-size: 28px;
        color: blue;
    }
    footer {
        background-color: rgba(0, 0, 255, 0.9);
        height: 70px;
        padding: 5px;
    }
    footer p {
        color: white;
        font-size: 16px;
        text-align: center;
    }
}


@media (min-width: 521px) and (max-width: 760px) {
    header {
        background-color: red;
        height: 60px;
        padding: 15px;
    }
    h1 {
        font-size: 28px;
        color: yellow;
        text-align: center;
    }
    section {
        background-color: #f2f2f2;
        /* padding: 15px; */
    }
    .first, .second {
        grid-template-columns: 1fr 1fr; 
    }
    .more {
        font-size: 32px;
        color: green;
    }
    footer {
        background-color: red;
        height: 80px;
        padding: 10px;
    }
    footer p {
        font-size: 18px;
        color: white;
        text-align: center;
    }
}


@media (min-width: 761px) and (max-width: 919px) {
    header {
        background-color: pink;
        height: 70px;
        padding: 20px;
    }
    h1 {
        font-size: 32px;
        color: white;
        letter-spacing: 2px;
    }
    section {
        background-color: #eee;
        
    }
    .first, .second {
        grid-template-columns: repeat(3, 1fr); 
        
    }
   .second img{
    padding-left: 200px;
   }
   
    .more {
        font-size: 36px;
        color: purple;
    }
    footer {
        background-color: pink;
        height: 90px;
        padding: 10px;
    }
    footer p {
        font-size: 20px;
        text-align: center;
        color: white;
    }
}

@media (min-width: 920px) {
    header {
        background-color: blue;
        height: 80px;
        padding: 20px;
    }
    h1 {
        font-size: 36px;
        color: white;
        text-align: center;
    }
    .banner img{
        width: 100%;
        
    }
    section {
        background-color: white;
        /* padding: 30px; */
    }
    .first, .second {
        grid-template-columns: repeat(3, 1fr); 
        gap: 100px; 
       
    }
    .second{
        padding-left: 300px;
    }
    .more {
        font-size: 40px;
        color: blue;
    }
    footer {
        background-color: rgba(0, 0, 255, 0.95);
        height: 100px;
        padding: 15px;
    }
    footer p {
        font-size: 22px;
        text-align: center;
        color: white;
    }
}
